@charset "UTF-8";
.contenedor .proyectosBranding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contenedor .proyectosBranding {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.contenedor .proyectosBranding {
  padding: 20px;
  padding-top: 50px;
}

.contenedor {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.galeriaLogos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #4b4b4b;
  padding: 50px;
}

.galeriaIlustraciones {
  width: 100%;
  height: 30%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaIlustraciones figure img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 70%;
  border-radius: 5%;
}

.galeriaIlustraciones figure:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 100%;
}

.dosImagenes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton-turquoise {
  background: turquoise;
}

.boton-gray {
  background: gray;
}

.boton-white {
  background: white;
}

.boton-Black {
  background: Black;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #24303c;
}

.btn-primary:hover {
  background: #009999;
  border: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

a {
  color: #009999;
  text-decoration: none;
  background-color: transparent;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #8b8b8b;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #009999;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  color: #009999;
}

#parrafoPrincipal {
  color: #8b8b8b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

#parrafoPerfil {
  color: #8b8b8b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

p {
  color: #8b8b8b;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

section.fondonegro {
  background-color: black;
}

#menu {
  background-color: #383838;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  color: #009999;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 20px;
  margin-bottom: 0%;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #009999;
  color: white;
  display: block;
}

ul ul {
  display: none;
  position: absolute;
}

ul ul li {
  display: block;
  width: 70%;
  border: none;
  padding-left: 10px;
  padding-right: 1px;
  z-index: 1000;
  background-color: #383838;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: blanchedalmond;
}

ul li:hover ul {
  display: block;
  margin-right: 200px;
}

title {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

.formulario {
  padding: 0px;
  margin-top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: url(../images/imgformulario.jpg) no-repeat;
}

#menuRedes {
  background-color: #383838;
}

#menuRedes ul li {
  display: inline-block;
}

#menuRedes ul li a {
  color: #009999;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  margin: 0px;
  text-decoration: none;
}

#menuRedes ul li a:hover {
  background-color: #009999;
  color: white;
}

ol {
  list-style: square;
  font-family: Arial, Helvetica, sans-serif;
}

ol.variante {
  list-style-type: hebrew;
  font-family: Arial, Helvetica, sans-serif;
}

#volver {
  border-bottom-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  background-color: #5e5e5e;
  color: bisque;
}

.propiedadesDeLaCaja {
  background-color: blanchedalmond;
  padding: 0px 20px;
  border: #b1b1b1 5px outset;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

div.flotarIzquierda {
  float: left;
}

div.flotarDerecha {
  float: right;
}

.textoNota {
  font-family: "Bebas Neue", cursive;
  color: blanchedalmond;
  font-size: 40;
}

div.fixed {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 1000px;
}

.contenedorPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
}

.contenedorParrafo {
  border: 30px;
  padding: 0px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.parrafoPerfil {
  padding: 30px;
}

.contenedorfoto {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.bloqueDeCualidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-containerJustifyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-containerJustifyCenteritem {
  padding: 0px;
  margin: 0px;
}

.gridProfesionales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 16% 16% 16% 25%;
      grid-template-columns: 25% 16% 16% 16% 25%;
  -ms-grid-rows: 170px;
      grid-template-rows: 170px;
  gap: 5px;
}

.gridProfesionales > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridProfesionalesDescripcion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 16% 16% 16% 25%;
      grid-template-columns: 25% 16% 16% 16% 25%;
  -ms-grid-rows: 220px;
      grid-template-rows: 220px;
  gap: 5px;
}

.gridProfesionalesDescripcion > div {
  background: #ffffff;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 220px;
      grid-template-rows: 220px;
  font-family: Arial, Helvetica, sans-serif;
}

.gridProfesionales > div {
  background: #ffffff;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconosCualidades {
  -webkit-transition: 2s;
  transition: 2s;
}

.iconosCualidades:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.degradadoFooter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#969696), to(white));
  background-image: linear-gradient(black, #969696, white);
}

.botonformulario:hover {
  background-color: #2e2e2e;
  color: white;
  -webkit-animation-name: botonformulario;
          animation-name: botonformulario;
  width: 200px;
  height: 30px;
}

.botonformulartioEstatico {
  width: 180px;
}

.fondoBody {
  background-color: #4b4b4b;
}

#menuFont {
  font-size: 15px;
}

.container-fluidMenu {
  padding: 0%;
}

.cabeceraBranding {
  background: image url(../images/cabecerabranding.jpg);
}

.galeriailustraciones {
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 70px;
  size: 50px 30px;
}

.formulariosecundario {
  background-color: #4b4b4b;
  padding: 100px;
  color: white;
}

.containerRedes {
  padding: 70px;
  text-align: center;
}

.imagenPrincipalBranding {
  background-image: url("../images/tarjetas.jpg");
  background-size: cover;
  background-position: center;
  height: 320px;
}

@media only screen and (min-width: 1440px) {
  .imagenPrincipalBranding {
    height: 442px;
    background-size: cover;
  }
}

.fondoFooter {
  font-size: 18px;
  color: #ffffff;
  background: #4b4b4b;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  padding: 200px;
  padding-left: 300px;
}

@media only screen and (min-width: 600px) {
  .fondoFooter {
    background: url(../images/imgformulario.jpg) no-repeat;
    padding: 200px;
    color: #4b4b4b;
  }
}

@media only screen and (max-width: 598px) {
  .imgFormularioChico {
    background: url(../images/formulariochico.jpg) no-repeat;
    background-position: center center;
    height: 600px;
    width: 500px;
  }
}

.aumentoGaleriaSocial {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 0,1s ease;
  -webkit-transition: 1s ease,-webkit-transform 0;
  transition: 1s ease,-webkit-transform 0;
  transition: transform 0,1s ease;
  transition: transform 0,1s ease,-webkit-transform 0;
  transition: transform 0,1s ease, -webkit-transform 0,1s ease;
  border: none;
}

#parrafoEmpresasSocial {
  padding: 30px;
  padding-left: 5px;
}

.aumentoGaleriaSocial:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

#botonFormulario {
  color: #ffffff;
  background-color: #4b4b4b;
}

.botonesMenu {
  border-bottom: 2px solid transparent;
}

.botonesMenu:hover {
  border-bottom: 2px solid #009999;
}

.aumentoGaleria {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.aumentoGaleria:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.cajaH2 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
}

#parrafodiseñoIndex {
  color: white;
  font-size: 15px;
}

.cajaParrafoIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (min-width: 1440px) {
  .cajaParrafoIndex {
    padding-right: 400px;
    padding-left: 400px;
  }
}

.bloqueParrafoIndex {
  padding-bottom: 70px;
}

p {
  color: #009999;
}

.CajaSimple {
  width: 25%;
  background: yellow;
  padding: 50px;
  display: inline-block;
}

.caja-1 {
  width: 2px;
}

.caja-2 {
  width: 4px;
}

.caja-3 {
  width: 6px;
}

.caja-4 {
  width: 8px;
}

.caja-5 {
  width: 10px;
}

.caja-6 {
  width: 12px;
}

.caja-7 {
  width: 14px;
}

.caja-8 {
  width: 16px;
}

.caja-9 {
  width: 18px;
}

.caja-10 {
  width: 20px;
}

.caja-11 {
  width: 22px;
}

.caja-12 {
  width: 24px;
}

.caja-13 {
  width: 26px;
}

.caja-14 {
  width: 28px;
}

.caja-15 {
  width: 30px;
}

.caja-16 {
  width: 32px;
}

.caja-17 {
  width: 34px;
}

.caja-18 {
  width: 36px;
}

.caja-19 {
  width: 38px;
}

.caja-20 {
  width: 40px;
}

.custom-toggler.navbar-toggler {
  border-color: #009999;
}

.proyectosBranding {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.proyectosCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.proyectosCards .card {
  text-align: center;
}

.fondoProyectosBranding {
  background: #c5c5c5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fondoGaLogos {
  background-color: #4b4b4b;
  padding-bottom: 40px;
}

@media only screen and (min-width: 1000px) {
  .fondoGaLogos {
    background: url(../images/fondoLogosGaleria.jpg) no-repeat;
  }
}

.EspaciadoTitulo {
  padding: 20px;
  text-align: center;
}

.h2.tituloIdentificadores {
  color: #ffffff;
}

.navbarMenu {
  padding: 200px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  z-index: 30;
}

.navbarEscritorio {
  width: 1200px;
}

.galeriaIndex {
  padding-top: 10px;
}
/*# sourceMappingURL=estilo.css.map */