@each $color in $colores {
    .boton-#{$color} {
        background: $color ;
    }
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    background-color: #24303c;
}




.btn-primary:hover {
    background: #009999;
    border: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


a {
    color:  #009999;
    text-decoration: none;
    background-color: transparent;
}