@import "variables";
@import "branding";
@import "ilustraciones";
@import "botones";

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(139, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #009999;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  color: #009999;
}

#parrafoPrincipal {
  color: rgb(139, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

#parrafoPerfil {
  color: rgb(139, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

p {
  color: rgb(139, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

section.fondonegro {
  background-color: rgb(0, 0, 0);
}

#menu {
  background-color: rgb(56, 56, 56);
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  color: #009999;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 20px;
  margin-bottom: 0%;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #009999;
  color: rgb(255, 255, 255);
  display: block;
}

ul ul {
  display: none;
  position: absolute;
}

ul ul li {
  display: block;
  width: 70%;
  border: none;
  padding-left: 10px;
  padding-right: 1px;
  z-index: 1000;
  background-color: rgb(56, 56, 56);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: blanchedalmond;
}

ul li:hover ul {
  display: block;
  margin-right: 200px;
}
title {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

.formulario {
  padding: 0px;
  margin-top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background: url(../images/imgformulario.jpg) no-repeat;
}

#menuRedes {
  background-color: rgb(56, 56, 56);
}

#menuRedes ul li {
  display: inline-block;
}

#menuRedes ul li a {
  color: #009999;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  margin: 0px;
  text-decoration: none;
}

#menuRedes ul li a:hover {
  background-color: #009999;
  color: rgb(255, 255, 255);
}

ol {
  list-style: square;
  font-family: Arial, Helvetica, sans-serif;
}

ol.variante {
  list-style-type: hebrew;
  font-family: Arial, Helvetica, sans-serif;
}

#volver {
  border-bottom-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  background-color: rgb(94, 94, 94);
  color: bisque;
}

.propiedadesDeLaCaja {
  background-color: blanchedalmond;
  padding: 0px 20px;
  border: rgb(177, 177, 177) 5px outset;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

div.flotarIzquierda {
  float: left;
}
div.flotarDerecha {
  float: right;
}

.textoNota {
  font-family: "Bebas Neue", cursive;
  color: blanchedalmond;
  font-size: 40;
}

div.fixed {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 1000px;
}

.contenedorPrincipal {
  display: flex;
  justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
}

.contenedorParrafo {
  border: 30px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.parrafoPerfil {
  padding: 30px;
}
.contenedorfoto {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

.bloqueDeCualidades {
  display: flex;
  justify-content: center;
}

.flex-containerJustifyCenter {
  display: flex;
  justify-content: center;
}
.flex-containerJustifyCenteritem {
  padding: 0px;
  margin: 0px;
}

.gridProfesionales {
  display: grid;
  grid-template-columns: 25% 16% 16% 16% 25%;
  grid-template-rows: 170px;
  gap: 5px;
}

.gridProfesionales > div {
  display: flex;
  justify-content: center;
}

.gridProfesionalesDescripcion {
  display: grid;
  grid-template-columns: 25% 16% 16% 16% 25%;
  grid-template-rows: 220px;
  gap: 5px;
}

.gridProfesionalesDescripcion > div {
  background: #ffffff;
  padding: 10px;
  align-items: center;
  grid-template-rows: 220px;
  font-family: Arial, Helvetica, sans-serif;
}

.gridProfesionales > div {
  background: #ffffff;
  padding: 10px;
  align-items: center;
}

.imgIndex{
  width: 100%;
  padding: 0%; 

  }
 
.iconosCualidades {
  transition: 2s;
}
.iconosCualidades:hover {
  transform: scale(1.1);
}

.degradadoFooter {
  background-image: linear-gradient(black, rgb(150, 150, 150), white);
}

.botonformulario:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  animation-name: botonformulario;
  width: 200px;
  height: 30px;
}

.botonformulartioEstatico {
  width: 180px;
}

.fondoBody {
  background-color: #4b4b4b;
}

#menuFont {
  font-size: 15px;
}
.container-fluidMenu {
padding: 0%;
}

.container-carruselgrande {
  padding: 0%;
  
}

@media only screen and (min-width: 501px) {
  .container-carrusel-chico {
    width: 0%;
    padding: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .container-carrusel-chico {
    width: 100%;
    padding: 0%;
  }
}

.cabeceraBranding {
  background: image url(../images/cabecerabranding.jpg);
}

.galeriailustraciones {
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 70px;
  size: 50px 30px;
}

.formulariosecundario {
  background-color: #4b4b4b;
  padding: 100px;
  color: white;
}

.containerRedes {
  padding: 70px;
  text-align: center;
}

.imagenPrincipalBranding {
  background-image: url("../images/tarjetas.jpg");
  background-size: cover;
  background-position: center;
  height: 320px;
}
@media only screen and (min-width: 1440px) {
  .imagenPrincipalBranding {
    height: 442px;
    background-size: cover;
  }
}

.fondoFooter {
  font-size: 18px;
  color: #ffffff;
  background:  #4b4b4b;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  width: 100%;
  
}

@media only screen and (min-width: 600px) {
  .fondoFooter {
    background: url(../images/imgformulario.jpg) no-repeat;
   background-position: center;
    
    color: #4b4b4b ;
  }
}

.containerForm{
  background: #4b4b4b;
  color: #ffffff;
  padding-left: 0px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  }

  @media only screen and (min-width: 700px) {
  .containerForm {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
    padding-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .containerForm {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      padding-bottom: 40px;
      }
    }
    


@media only screen and (max-width: 598px) {
.imgFormularioChico {
  background: url(../images/formulariochico.jpg) no-repeat;
  background-position: center center;
  height: 600px;
  width: 500px; 

  }

}

@media only screen and (min-width: 599px) {
  .imgindexprincipal {
    background: url(../images/imagenprincipalindex.jpg) no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
  
    }
  
  }



@media only screen and (min-width: 599px) {
  .imgFormularioGrande {
    background: url(../images/imgformulario.jpg) no-repeat;
    background-position: center center;
    width: 100%;
    height: 500px;
  
    }
  
  }

  .containerRedesIndex {
  padding: 70px;
  text-align: center;
  background: #ffffff;
  }

  

  
.aumentoGaleriaSocial {
  -webkit-transform: scale(1);
          transform: scale(0,3);
  -webkit-transition: -webkit-transform 0,1s ease;
  transition: -webkit-transform 0,1s ease;
  transition: transform 0,1s ease;
  transition: transform 0,1s ease, -webkit-transform 0,1s ease;
  border: none;
}
#parrafoEmpresasSocial {
  padding: 30px;
  padding-left: 5px;
}

.aumentoGaleriaSocial:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

#botonFormulario {
  color: #ffffff;
  background-color: #4b4b4b;
}

.botonesMenu {
  border-bottom: 2px solid transparent;
}

.botonesMenu:hover {
  border-bottom: 2px solid #009999;
}

.aumentoGaleria {
  transform: scale(1);
  transition: transform 1s ease;
}
.aumentoGaleria:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cajaH2 {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
}

#parrafodiseñoIndex {
  color: white;
  font-size: 16px;
}

.cajaParrafoIndex {
  display: flex;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}



@media only screen and (min-width: 1440px) {
  .cajaParrafoIndex {
    padding-right: 400px;
    padding-left: 400px;
  }
}



@media only screen and (min-width: 599px) {
  .imgIndex {
    background: url(../images/imagenprincipalindex.jpg) no-repeat;
    background-position: center center;
    width: 100%;
    height: 500px;
  
    }
  
  }


@media only screen and (min-width: 700px) {
  .imgIndex {
    width: 100%;
    height: 100%;
    background: url(../images/imagenprincipalindex.jpg) no-repeat;
    background-size: cover;
  }
}


.bloqueParrafoIndex {
  padding-bottom: 70px;
  padding-left: 120px;
  padding-right: 120px;
}

@media only screen and (max-width: 500px) {
  .bloqueParrafoIndex {
    padding-right: 2px;
    padding-left: 2px;
  }
}

p {
  @if $persona == Nuevo Cliente {
    color: #009999;
  } @else if $animal == Cliente {
    color: rgb(139, 139, 139);
  } @else if $animal == Proveedor {
    color: violet;
  } @else {
    color: black;
  }
}

.CajaSimple {
  width: $cajaSimple/2;
  background: yellow;
  padding: 50px;
  display: inline-block;
}

@for $i from 1 through 20 {
  .caja-#{$i} {
    width: $i * 2px;
  }
}

.custom-toggler.navbar-toggler {
  border-color: #009999;
}

.proyectosBranding {
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.proyectosCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.proyectosCards .card {
  text-align: center;
}

.fondoProyectosBranding {
  background: #c5c5c5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fondoGaLogos {
  background-color: #4b4b4b;
  padding-bottom: 40px;
}

@media only screen and (min-width: 1000px) {
  .fondoGaLogos {
    background: url(../images/fondoLogosGaleria.jpg) no-repeat;
  }
}

.EspaciadoTitulo {
  padding: 20px;
  text-align: center;
}

.h2.tituloIdentificadores {
  color: #ffffff;
}

.navbarMenu {
  padding: 200px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  z-index: 30;
}

.navbarEscritorio {
  width: 1200px;
}

.galeriaIndex {
padding-top: 10px;

}

@media only screen and (min-width: 100px) {
  .tituloIndex {
    background: url(../images/titulo-index.png) no-repeat; 
    background-position: center;
    background-size: cover;    
    width: 100%;
    height: 200px;
  
    }
  
  }

  